/* general styles */
:root {
    --main-font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    --brand-font-family: Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;
    --main-text-colour: #41413F;
    --brand-text-colour: #5D7074;
}

body {
    margin: 0 auto;
    width: 60%;
    background-color: #e5eaea;
}

h1.hero-text {
    font-family: var(--brand-font-family);
    color: var(--brand-text-colour);
    margin: 15px 10px;
}

h2 {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}

h2.search-result-header {
    font-size: 30px;
}

h3 {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    margin-bottom: 5px;
    font-size: 14pt;
}

h3.search-result-title {
    color: var(--brand-text-colour);
}

h4 {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    margin-bottom: 5px;
    font-size: 12pt;
}

p.copyright-line {
    font-family: monospace;
    font-size: 8;
    font-weight: lighter;
    text-align: center;
}

p.search-boxes, p.search-results {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    margin-top: 5px;
    font-size: 10pt;
}

a {
    color: blue;
    font-family: var(--main-font-family);
    margin-top: 5px;
    font-size: 10pt;
}

#hero-img {
    display: grid;
    place-items: center;
}

#hero-para {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    font-size: 12pt;
    text-align: center;
}

.logo-top-line {
    font-size: 20px;
}

.logo-bottom-line {
    font-size: 34px;
    line-height: 0.9;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 20px 0;
}

.grid-container-results {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.grid-item {
    padding: 0 20px 20px 20px;
}

.grid-item img {
    width: auto;
    max-height: 250px;
    border-radius: 5px;
    margin: 20px;
}

.search-box {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #F9FAFB;
    box-shadow: 0px 0px 5px grey;
}

.search-inputs {
    margin-bottom: 20px;
}

.submit-button {
    background-color: var(--brand-text-colour);
    color: #fff;
    font-size: 10pt;
    font-family: var(--main-font-family);
    border-radius: 5px;
    border: 0.5px solid var(--brand-text-colour);
    box-shadow: 1px 1px 1px grey;
    padding: 5px 8px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.submit-button:hover {
    background-color: #fff;
    color: var(--brand-text-colour);
}