/* general styles */
:root {
    --main-font-family: 'Trebuchet MS',
        'Lucida Sans Unicode',
        'Lucida Grande',
        'Lucida Sans',
        Arial,
        sans-serif;
    --brand-font-family: Cambria,
        Cochin,
        Georgia,
        Times,
        'Times New Roman',
        serif;
    --main-text-colour: #41413F;
    --brand-text-colour: #5D7074;
    --brand-background-colour: #e5eaea;
}

body {
    margin: 0 auto;
    width: 60%;
    background-color: var(--brand-background-colour);
}

/* text styles */
h1.hero-text {
    font-family: var(--brand-font-family);
    color: var(--brand-text-colour);
    margin: 15px 10px;
}

h2 {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    font-size: 60px;
    margin: 0 auto;
    text-align: center;
}

h2.search-result-header {
    font-size: 30px;
    margin-top: 40px;
}

h3 {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    margin-bottom: 5px;
    font-size: 14pt;
}

h3.search-result-title {
    color: var(--brand-text-colour);
}

h4 {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    margin-bottom: 5px;
    font-size: 12pt;
}

p.copyright-line {
    color: var(--brand-text-colour);
    font-family: var(--main-font-family);
    font-size: 10pt;
    font-weight: lighter;
    text-align: center;
}

a.about-link {
    text-decoration: none;
    font-family: var(--main-font-family);
    font-size: 10pt;
    font-weight: lighter;
}

p.search-boxes, p.search-results, p.about-me {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    margin-top: 5px;
    font-size: 10pt;
}

a {
    color: blue;
    font-family: var(--main-font-family);
    margin-top: 5px;
    font-size: 10pt;
}
/* end text styles */

/* layout styles */
#hero-img {
    display: grid;
    place-items: center;
}

#hero-para {
    color: var(--main-text-colour);
    font-family: var(--main-font-family);
    font-size: 12pt;
    text-align: center;
}

.logo-top-line {
    font-size: 20px;
}

.logo-bottom-line {
    font-size: 34px;
    line-height: 0.9;
}

.grid-container {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    margin: 40px 0;
}

.grid-container-results {
    display: grid;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.grid-item {
    padding: 0 20px 20px 20px;
}

.grid-item img {
    width: auto;
    max-height: 250px;
    border-radius: 5px;
    margin: 20px;
}
/* end layout styles */

/* header bar styles */
.header-bar {
    border-bottom-style: solid;
    border-bottom-color: var(--brand-text-colour);
    border-bottom-width: thin;
    box-shadow: 0px 0px 2px grey;
    overflow: hidden;
    background-color: var(--brand-background-colour);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

.header-bar h2 {
    font-family: var(--brand-font-family);
    font-size: 18px;
    color: var(--brand-text-colour);
    display: inline;
    }

.nav-links a {
    box-sizing: border-box;
    float: right;
    display: block;
    text-align: center;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    font-family: var(--main-font-family);
    font-size: 14px;
    color: var(--brand-text-colour);
}

.nav-links a:hover {
    background: var(--brand-text-colour);
    color: var(--brand-background-colour);
}

.logo {
    float: left;
    padding: 5px 10px;
}

.logo-link {
    text-decoration: none;
}

/* end of header bar styles */

.search-box {
    margin: 10px;
    border-radius: 10px;
    border: 1px solid #F9FAFB;
    box-shadow: 0px 0px 5px grey;
}

.search-inputs {
    margin-bottom: 20px;
}

.submit-button {
    background-color: var(--brand-text-colour);
    color: #fff;
    font-size: 10pt;
    font-family: var(--main-font-family);
    border-radius: 5px;
    border: 0.5px solid var(--brand-text-colour);
    box-shadow: 1px 1px 1px grey;
    padding: 5px 8px;
    text-decoration: none;
    transition-duration: 0.5s;
}

.submit-button:hover {
    background-color: #fff;
    color: var(--brand-text-colour);
}

@media screen and (max-width: 768px) {

    .grid-container {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 480px) {
    body {
        width: 90%;
    }

    .grid-container-results {
        width: 100%;
    }

    h1.hero-text {
        display: none;
    }

    h2 {
        font-size: 40px;
        margin-top: 10px;
    }

    h2.search-result-header {
        font-size: 25px;
    }

    h3 {
        font-size: 16px;
    }

    p.search-boxes {
        font-size: 13px;
    }

    p.about-me {
        text-align: center;
    }

    #hero-para {
        font-size: 10pt;
    }

    .grid-item {
        padding-bottom: 10px;

    }
    .grid-item img {
        width: auto;
        max-height: 250px;
        margin: 10px;
    }
    
    .logo-top-line {
        font-size: 12px;
    }

    .logo-bottom-line {
        font-size: 20px;
        line-height: 0.7;
    }
}