<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Great Little Local | About Me</title>
  </head>
  <body>
    <header>
      <div class="header-bar">
        <div class="logo">
          <a href="/" class="logo-link">
            <h2>Great Little Local</h2>
          </a>
        </div>

        <div class="nav-links">
          <a href="/" title="Return home">Home</a>
          <a href="/about" title="About me">About me</a>
        </div>
      </div>
    </header>

    <h2 class="search-result-header">Information</h2>
    <div class="grid-container-results">
      <div class="grid-item search-box">
        <div>
          <h3>About me</h3>
          <p class="about-me">
            I'm Pip. I'm from north east England, and have a passion for sport.
            In particular, rowing, ultrarunning, aerial and weight lifting. But
            when I'm not doing those I can usually be found at a climbing wall
            or on a big hill or rock somewhere.
          </p>
          <p class="about-me">
            After over twenty years working in project management for academic
            and educational publishing I decided to get back to education myself
            and do a Masters in Computer Science - a huge change for me!
          </p>
          <p class="about-me">
            In July 2023 I started my first tech job as a Software Developer
            with Proctor & Gamble, and I am very much enjoying the challenge so
            far.
          </p>
          <p class="about-me">
            You can find me on
            <a
              href="https://www.linkedin.com/in/phillippaclubbs/"
              class="about-link"
              title="My LinkedIn Profile"
              target="_blank"
              rel="noreferrer"
              >LinkedIn</a
            >.
          </p>
          <br />
          <h3>About this web app</h3>
          <p class="about-me">
            This web application was developed as part of my Masters Research
            Project, which was an experiment with web scraping. Fed up with the
            difficulty of locating climbing information I
            <em>knew</em> was online somewhere but couldn't find, I decided to
            investigate why the search engines like Google and Bing are not so
            great at finding information on niche topics, and to see if building
            a targeted, climbing-specific search engine using web scrapers was
            possible. This web application is the result of that experiment.
          </p>
          <p class="about-me">
            As it stands, this web application is a proof-of-concept, limited
            prototype to see if the idea is feasible and to assess what I learn
            from putting it together.
          </p>
        </div>
      </div>
    </div>
    <footer>
      <p class="copyright-line">
        <span>
          <a
            href="https://github.com/pipclubbs/Flask-App-for-Masters"
            class="about-link"
            title="See this project on GitHub"
            target="_blank"
            rel="noreferrer"
            >open-source code</a
          >
          by Phillippa Clubbs
          <script>
            document.write(new Date().getFullYear());
          </script>
        </span>
      </p>
    </footer>
  </body>
</html>
