<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Class search</title>
  </head>
  <body>
    <h2>Climbing class search results</h2>
    <div>
      {% if class_search %}{% for item in class_search %} {% if "http" in item
      %}
      <a href="{{ item }}" target="blank"
        >Click here for the link to the website</a
      >
      {% else %}
      <p>{{ item }}</p>
      {% endif %} {% endfor %} {% else %}
      <p>No classes in your area</p>
      {% endif %}
    </div>

    <!--
      need to add some jinja tags here to display the text that was returned from the web scraper. 
      do I also need to add a button at the end of the page so that they can delete the database when they are done. 
    -->

    <div>
      <form method="GET" action="/">
        <button type="submit" value="home">Home</button>
      </form>
    </div>
    <div>
      <form method="GET" action="/about">
        <button type="submit" value="about-me">About</button>
      </form>
    </div>
  </body>
</html>
