<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Class search</title>
  </head>
  <body>
    <h2>Climbing class search results</h2>
    <div>
      {% if class_search %}
      <p>you typed {{ class_search }}</p>
      {% endif %}
    </div>

    <!--
      need to add some jinja tags here to display the text that was returned from the web scraper. 
      do I also need to add a button at the end of the page so that they can delete the database when they are done. 
    -->

    <div>
      <form method="GET" action="/">
        <button type="submit" value="home">Home</button>
      </form>
    </div>
    <div>
      <form method="GET" action="/about">
        <button type="submit" value="about-me">About</button>
      </form>
    </div>
  </body>
</html>
