{% extends 'base.jinja2' %} {% block content %}
<h2>Climbing club search results</h2>
<div>
  {% if club_search %}
  <p>you typed {{ club_search }}</p>
  {% endif %}
</div>
<div>
  <form method="GET" action="/">
    <button type="submit" value="home">Home</button>
  </form>
</div>
<div>
  <form method="GET" action="/about">
    <button type="submit" value="about-me">About</button>
  </form>
</div>
{% endblock %}
