<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Great Little Local | Climb Directory - Home</title>
  </head>
  <body>
    <div class="grid-container">
      <div class="grid-item">
        <h1 class="hero-text">
          <div class="logo-top-line">I know a</div>
          <div class="logo-bottom-line">Great Little Local...</div>
        </h1>
        <h2>CLIMB</h2>
        <p id="hero-para">
          The place to search for climbing information in your area.
          <br />
          <strong>What will you search for today?</strong>
        </p>
      </div>

      <div class="grid-item">
        <div id="hero-img">
        <img
          src="{{ url_for('static', filename='climbing.jpg') }}"
          alt="A man climbing on a rock face"
        />
        </div>
      </div>

      <div class="grid-item search-box">
        <h3>Climbing walls</h3>
        <p class="search-boxes">
          Need somewhere to climb? 
          </br>
          Search here for climbing walls in your area.
        </p>
        <form  class="search-inputs" method="POST" action="/walls">
          <select name="wallsearch">
            <option value="choose">Choose an area...</option>
            <option value="north-east">North East</option>
            <option value="north-west">North west</option>
            <option value="yorkshire">Yorkshire</option>
            <option value="midlands">Midlands</option>
          </select>
          <button type="submit" id="submitButton">Submit</button>
        </form>
        <div id="workingSymbol" style="display: none">
            Working...
        </div>
      </div>

      <div class="grid-item search-box">
        <h3>Classes</h3>
        <p class="search-boxes">
          Need a class for you or the kids? 
          <br>
          Search here for climbing classes in your area.
        </p>
        <form  class="search-inputs" method="POST" action="/classes">
          <select name="classsearch">
            <option value="choose">Choose an area...</option>
            <option value="north-east">North East</option>
            <option value="north-west">North West</option>
            <option value="yorkshire">Yorkshire</option>
            <option value="midlands">Midlands</option>
          </select>
          <button type="submit" id="submitButton">Submit</button>
        </form>
        <div id="workingSymbol" style="display: none">
            Working...
        </div>
      </div>

      <div class="grid-item search-box">
        <h3>Events</h3>
        <p class="search-boxes">
          Looking for climbing talks or symposiums?
          <br> 
          Search here for events in the UK.
        </p>
        <form  name="eventsearch" class="search-inputs" method="POST" action="/events">
          <button name="eventsearch" type="submit" id="submitButton">Submit</button>
        </form>
        <div name="eventsearch" id="workingSymbol" style="display: none">
            Working...
        </div>
      </div>

      <div class="grid-item search-box">
        <h3>Climbing clubs</h3>
        <p class="search-boxes">
          Want someone to climb with? 
          <br>
          Search here for climbing clubs in your area.
        </p>
        <form  class="search-inputs" method="POST" action="/clubs">
          <select name="clubsearch">
            <option value="choose">Choose an area...</option>
            <option value="north-east">North East</option>
            <option value="north-west">North West</option>
            <option value="yorkshire">Yorkshire</option>
            <option value="midlands">Midlands</option>
          </select>
          <button type="submit" id="submitButton">Submit</button>
        </form>
        <div id="workingSymbol" style="display: none">
            Working...
        </div>
      </div>

    </div>
    <div>
      <form method="GET" action="/about">
        <button type="submit" value="about-me">About</button>
      </form>
    </div>

    <footer>
        <p class="copyright-line">
            <span>&#169</span> 
            Phillippa Clubbs 
            <script>document.write(new Date().getFullYear())</script>
        </p>    
    </footer>
    <script src="src/scripts.js">

      function showWorkingSymbol() {
        document.getElementById('workingSymbol').style.display = 'block';
      }

      document.getElementById('submitButton').addEventListener('click', showWorkingSymbol);
      
    </script>
  </body>
</html>