<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <title>Great Little Local | Climb Directory - Home</title>
  </head>
  <body>
    <header>
      <div class="header-bar">
        <div class="logo">
          <a href="/" class="logo-link">
            <h2>Great Little Local</h2>
          </a>    
        </div>

        <div class="nav-links">
          <a href="/" title="Return home">Home</a>
          <a href="/about" title="About me">About me</a>
        </div>
      </div>
    </header>

    </header>
    <div class="grid-container">
      <div class="grid-item">
        <h1 class="hero-text">
          <div class="logo-top-line">I know a</div>
          <div class="logo-bottom-line">Great Little Local...</div>
        </h1>
        <h2>CLIMB</h2>
        <p id="hero-para">
          The place to search for climbing information in your area.
          <br />
          <strong>What will you search for today?</strong>
        </p>
      </div>

      <div class="grid-item">
        <div id="hero-img">
        <img
          src="{{ url_for('static', filename='climbing.jpg') }}"
          alt="A man climbing on a rock face"
        />
        </div>
      </div>

      <div class="grid-item search-box">
        <h3>Climbing walls</h3>
        <p class="search-boxes">
          Need somewhere to climb? 
          </br>
          Search here for climbing walls in your area.
        </p>
        <form  class="search-inputs" method="POST" action="/walls" onsubmit="return formValidate('wall-search-inputs')">
          <select name="wallsearch" id="wall-search-inputs">
            <option value="choose">Choose an area...</option>
            <option value="north-east">North East</option>
            <option value="north-west">North west</option>
            <option value="yorkshire">Yorkshire</option>
            <option value="midlands">Midlands</option>
          </select>
          <button type="submit" class="submit-button">Submit</button>
        </form>
      </div>

      <div class="grid-item search-box">
        <h3>Climbing classes</h3>
        <p class="search-boxes">
          Need a class to get going? 
          <br>
          Search here for climbing classes in your area.
        </p>
        <form  class="search-inputs" method="POST" action="/classes" onsubmit="return formValidate('class-search-inputs')">
          <select name="classsearch" id="class-search-inputs">
            <option value="choose">Choose an area...</option>
            <option value="north-east">North East</option>
            <option value="north-west">North West</option>
            <option value="yorkshire">Yorkshire</option>
            <option value="midlands">Midlands</option>
          </select>
          <button type="submit" class="submit-button" id="submit-button">Submit</button>
        </form>
      </div>

      <div class="grid-item search-box">
        <h3>Climbing clubs</h3>
        <p class="search-boxes">
          Want someone to climb with? 
          <br>
          Search here for climbing clubs in your area.
        </p>
        <form  class="search-inputs" method="POST" action="/clubs" onsubmit="return formValidate('club-search-inputs')">
          <select name="clubsearch" id="club-search-inputs">
            <option value="choose">Choose an area...</option>
            <option value="north-east">North East</option>
            <option value="north-west">North West</option>
            <option value="yorkshire">Yorkshire</option>
            <option value="midlands">Midlands</option>
          </select>
          <button type="submit" class="submit-button" id="submitButton">Submit</button>
        </form>
      </div>

      <div class="grid-item search-box">
        <h3>Events</h3>
        <p class="search-boxes">
          Looking for climbing talks or symposiums?
          <br> 
          Search here for events in the UK.
        </p>
        <form  name="eventsearch" class="search-inputs" method="POST" action="/events">
          <button name="eventsearch" type="submit" class="submit-button">Submit</button>
        </form>
        <div name="eventsearch" id="workingSymbol" style="display: none">
            Working...
        </div>
      </div>
    
    </div>


    <footer>
      <p class="copyright-line">
        <a href="https://github.com/pipclubbs/Flask-App-for-Masters" class="about-link" title="Link to GitHub page" target="_blank" rel="noreferrer">open-source code</a> by
          Phillippa Clubbs
          <script>
            document.write(new Date().getFullYear());
          </script>
      </p>

<script src="{{ url_for('static', filename='scripts.js') }}"></script>
  </body>
</html>