<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Wall search</title>
  </head>
  <body>
    <h2>Climbing wall search results</h2>
    <div>
      {% if wall_search %}
      <p>you typed {{ wall_search }}</p>
      {% endif %}
    </div>

    <div>
      <form method="GET" action="/">
        <button type="submit" value="home">Home</button>
      </form>
    </div>
    <div>
      <form method="GET" action="/about">
        <button type="submit" value="about-me">About</button>
      </form>
    </div>
  </body>
</html>
