{% extends 'base.jinja2' %} 

{% block content %}

  <h2 class="search-result-header">Climbing walls</h2>
  <div class="grid-container-results">
    <div class="grid-item search-box">
      <div>
        {% if wall_search %} {% for item in wall_search %} {% if "http" in item %}
        <form style="display: inline" action="{{ item }}" method="get" target="blank">
          <button class="submit-button">Visit the website</button>
        </form>
        {% elif "\n\n" in item %}
        <h3 class="search-result-title">
          <br />{{ item }}
        </h3>
        {% else %}
        <p class="search-results">{{ item }}</p>
        {% endif %} {% endfor %} {% else %}
        <p class="search-results">No centres in your area</p>
        {% endif %}
      </div>
    </div>
  </div>

{% endblock %}
